@font-face {
  font-family: 'Open Sans';
  src: url('./assets/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
}

.bigflex {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-header {
  background-color: #e5e7eb;
  padding: 50px;
}

.image-container {
  position: relative;
  width: 30%;
}

.bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner {
  position: absolute;
  width: 100%;
  top: 25%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  color: #e5e7eb;
}

.logoimage {
  height: 100%;
  opacity: 0.8;
}

.credits {
  position: absolute;
  width: 100%;
  bottom: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.credits > p {
  opacity: 0.4;
}

.credits > p:hover {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.4);
  color: #e5e7eb;
  font-weight: bold;
}

a {
  color: inherit;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-column-gap: 50px;
  background-color: #f6f7f8;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 50px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row input[type='text'],
[type='email'],
[type='tel'],
[type='password'] {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 10px;
}

.form-row input:focus {
  border: 1px solid #66a1be;
  box-shadow: 2px 2px 2px rgb(106, 143, 199, 0.5);
  outline: none;
}

.form-footer {
  flex-grow: 1;
  background-color: #e5e7eb;
  padding: 50px;
}

.submit-form {
  width: 200px;
  background-color: #38596a;
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 12px;
}

input:invalid:not(:focus):not(:placeholder-shown),
input:invalid:focus:not(:placeholder-shown) {
  border: 1px solid red;
}

.preventbump {
  position: relative;
}

.preventbump2 {
  position: relative;
}

.error,
.error2 {
  position: absolute;
  width: 100%;
  background-color: #900;
  color: #e5e7eb;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  font-size: 80%;
  font-weight: 600;
  padding: 0;
}

.error.active,
.error2.active {
  padding: 0.3em;
}
