@font-face {
  font-family: 'Open Sans';
  src: url('./assets/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
}

.bigflex {
  display: flex;
  flex-direction: column;
}

.form-header {
  background-color: #e5e7eb;
  padding: 50px;
}

.bgimage {
  width: 30%;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-column-gap: 50px;
  background-color: #f6f7f8;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 50px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row input[type='text'],
[type='email'],
[type='tel'],
[type='password'] {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 10px;
}

.form-footer {
  flex-grow: 1;
  background-color: #e5e7eb;
  padding: 50px;
}

.submit-form {
  width: 200px;
  background-color: #38596a;
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 12px;
}
